@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -moz-user-select: none;
}

body{
  margin: 0;
  background-color: rgb(243, 237, 229);
}

header, .content-body, footer{
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
}

button{
  cursor: pointer;
}

.logo{
  width: 15%;
}

header .nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  color: rgb(108, 108, 108);
  font-weight: 500;
}

header .nav-bar div:not(:last-child){
  margin-right: 50px;
}

header .nav-bar div{
  cursor: pointer;
  transition: color ease-in-out .2s;
}

header .nav-bar div:active,
header .nav-bar div:focus{
  color: #fff;
}

.btn-sign-try{
  width: 25%;
  display: flex;
  justify-content: space-between;
}

button{
  padding: 15px 30px;
}

#try{
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: rgb(19, 52, 22);
  border-radius: 5px;
  border-color: rgb(19, 52, 22);
  transition: background ease-in .3s, box-shadow ease-out .2s;
}

#try:hover{
  box-shadow: inset 1em 1em .5em 5em rgba(14, 39, 16, 0.548);
}

#try:active{
  box-shadow: inset 0em 0em 1em .5em rgba(26, 71, 30, 0.822);
}

.btn-sign-try #sign{
  font-weight: 500;
  font-size: 14px;
  color: rgb(108, 108, 108);
  background-color: inherit;
  border-radius: 5px;
  border: none;
  transition: all ease-in .3s;
}

.btn-sign-try #sign:hover{
  color:rgb(255, 255, 255);
  border: 1px solid #000;
}

.btn-sign-try #sign:active{
  color: rgb(108, 108, 108);
  box-shadow: inset 0em 0em 5em .7em rgba(245, 245, 245, 0.822);
}

header .nav-item .tooltip.active,
header .nav-item .tooltip.active::before{
  opacity: 1;
  pointer-events: auto;
}

.tooltip{
  position: absolute;
  display: block;
  opacity: 0;
  background: #fff;
  transform: translate(-42%, 15px);
  padding: 40px;
  border-radius: 10px;
  width: 500px;
  transition: all ease-in .2s !important;
  pointer-events: none;
}

.tooltip::before{
  position: absolute;
  content: "";
  opacity: 0;
  height: 10px;
  width: 10px;
  background: #fff;
  transform: translate(200px, -45px) rotate(45deg);
  transition: all ease-in .2s !important;
}

.tooltip .tooltip-item-row{
  display: inline-flex;
  align-items: flex-start;
}

.tooltip .tooltip-item-row:not(:last-child){
  margin-bottom: 25px;
}

.tooltip .tooltip-item-row p{
  margin: 0px 0px 5px 0px;
}

.tooltip .tooltip-item-row .tootlip-title{
  font-weight: 700;
}

.tooltip .tooltip-item-row img{
  margin-right: 10px;
}

.row{
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: rgb(108, 108, 108);
}

.half-width{
  width: 50%;
}

.content h1{
  font-size: 52px;
  margin-top: 0;
  color: #000;
  margin-bottom: 15px;
}

.content p{
  margin-top: 0;
}

.y-text{
  color: rgb(247, 179, 0);
}

.row img{
  width: 480px;
}

.text-row{
  margin: 25px 0;
  display: flex;
}

.text-row img:nth-child(n){
  display: inline;
  width: 25px;
  margin: 0px 5px;
}

.row.text-center{
  justify-content: center;
}

.m-t-100{
  margin-top: 100px;
}

.m-tb-50px{
  margin: 50px 0px;
}

.row.img-200 img{
  width: 200px;
}

.row.logos{
  justify-content: space-evenly;
}